<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
    <div class="users flex gap-3 flex-wrap">

      <% user.forEach((val)=>{%>
        <div class="user w-72 p-4 bg-zinc-800 rounded-lg">
          <div class="w-full h-52 rounded-lg bg-zinc-600 overflow-hidden">
            <img class="w-full h-full object-cover" src="<%= val.image%>" alt="">
          </div>
          <h3 class="text-xl mt-3 tracking-tigher"><%= val.name%></h3>
          <h5 class=" text-zinc-500 tracking-tigher"><%= val.email%></h5>
          <div class="flex gap-3 mt-10">
            <a class="text-zinc-200" href="/update/<%= val._id%>">Edit User</a>
            <a class="text-red-500" href="/delete/<%= val._id%>">Delete User</a>
          </div>
        </div>

      <%})%>
      
      
      
    </div>
  
  </div>
</body>
</html>